%header
  #title
    -@title_chars.each do |chr, hex|
      %span.titleChr{:style => "color:#{hex}"}=chr
#main
  #formBox
    %form#imgurlForm
      %input#imgurl{:type=>'text', :name=>'imgurl'}
      %input#load{:type=>'submit', :value=>'load'}
    #formToggle Image

  #topNavigator
    -5.times do |i|
      .recent{:class => "nav", :id => "recent#{i}"}
    .nav#eraser Eraser
    .nav#reset Reset

    -[2,5,10,20,30,50].each do |weight|
      .pen{:class => 'nav', :id => "#{weight}"}=weight
  %canvas#canvas{:width => '1000px', :height => '500px'}= "Only work on browsers which handle HTML5."

  #seriesSelector
    -@colors.map(&:first).each do |series|
      .seriesName{:id => "##{series.gsub(/[\s']/,'')}"}=series.gsub(/\s|Colors/,'')

  #colorPalette
    -@colors.each do |series, colors|
      .series{:id => series.gsub(/[\s']/,'')}
        -colors.each do |c|
          -name = series == 'wairo' ? "#{c.name}</br>#{c.subname}" : c.name
          .color{:id=>"#{c.hex}",:style=>"background-color:#{c.hex};color:#{c.notes}"}=name

%footer
  %a{:href => CREDIT[1]}= CREDIT[0]

