%header
  #title
    -@title_chars.each do |chr, hex|
      %span.titleChr{:style => "color:#{hex}"}=chr
#main
  %form#imgurlForm
    %span Image URL:
    %input#imgurl{:type=>'text', :name=>'imgurl'}
    %input#load{:type=>'submit', :value=>'load'}

  #topNavigator
    -[2,5,10,20,30,50].reverse.each do |weight|
      .pen{:class => 'nav', :id => "#{weight}"}=weight
    .nav#eraser Eraser
    .nav#reset Reset
    -5.times do |i|
      .recent{:class => "nav", :id => "recent#{i}"}

  %canvas#canvas{:width => '1000px', :height => '500px'}= "Only work on browsers which handle HTML5."

  #seriesSelector
    -@colors.map(&:first).each do |series|
      .seriesName{:id => "##{series.gsub(/[\s']/,'')}"}=series.gsub(/\s|Colors/,'')

  #colorPalette
    -@colors.each do |series, colors|
      .series{:id => series.gsub(/[\s']/,'')}
        -colors.each do |c|
          .color{:id=>"#{c.hex}",:style=>"background-color:#{c.hex};color:#{c.notes}"}=c.name

%footer
  %a{:href => CREDIT[1]}= CREDIT[0]

