#header
  #app_title= APP_TITLE
  #penbox
    -[2,5,10,20,30,50].each do |weight|
      .pen{:id => "#{weight}"}=weight
  #infobox
    .info#eraser ERASER
    .info#reset RESET
    -5.times do |i|
      .recent{:class => "info", :id => "recent#{i}"}
#main
  %canvas#canvas{:width => '1000px', :height => '500px'}= "Only work on browsers which handle HTML5."
  #seriesbox
    -@colors.map(&:first).each do |series|
      .series_name{:id => "##{series.gsub(/[\s']/,'')}"}=series.gsub(/\s|Colors/,'')
  #palette
    -@colors.each do |series, colors|
      .series{:id => series.gsub(/[\s']/,'')}
        -colors.each do |c|
          .color{:id=>"#{c.hex}",:style=>"background-color:#{c.hex};color:#{c.notes}"}=c.name

#footer
  %a{:href => "http://d.hatena.ne.jp/keyesberry"}hp12c

